html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    background-color: rgba(24, 24, 24, 1);
    scroll-behavior: smooth;
}

main {
    color: white;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    line-height: 30px;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 80px;
    font-weight: 400;
}

h2{
    margin: 0;
    padding: 0;
    font-size: 60px;   
    font-weight: 500;
}

h3 {
    font-size: 50px;
    font-weight: 400;
}



::-webkit-scrollbar {
    display: none;

  }

.navbar {
    width: 5rem;
    position:fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(15, 15, 15, 1);
    box-shadow: rgba(15, 15, 15, 0.2) 0 4px 14px ;
    transition-duration: 0.3s ;
}

.navbar:hover {
    width: 15rem;
}

.navbar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center ;
    height: 100%;
}

.navbar-item {
    width: 100%;
    border-bottom: solid 1px rgb(199, 199, 199);
}

.navbar-item:last-child {
    margin-top: auto;
}

.navbar-link {
    display: flex;
    align-items:center;
    justify-content: flex-start;
    height: 5rem;
    width: 100%;
    text-decoration: none;
}

.navbar-link:hover {
    background-color: rgb(32, 32, 32);
    transition: 0.3s;
}

.navbar-icon {
    text-align: center;
    font-size: 1.5rem;
    min-width: 2rem;
    margin: 0 1.5rem;
    color: rgb(199, 199, 199);
}

.logo{
    margin: 0 1.1rem;
}

.navbar-title {
    color: rgb(199, 199, 199);
    font-size: 18px;
    font-weight: 400;
    animation: fadein 0.5s;
}

.navbar-item:hover .navbar-icon{
    color: rgba(122, 1, 1, 1);
    transition: 0.2s;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.navbar:not(:hover) .navbar-title {
    display: none;
}

.zizi:hover .logo {
    animation: tour 0.7s;
}

@keyframes tour {
    100%{
        transform: rotate(360deg);
    }
}


.presentation {
    display: flex;
    flex-direction: column;
    padding: 1rem 10% 5rem 10%;
}

.photo {
    text-align: center;
    margin-top: 2vh;
}


.bio img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 4px 4px rgb(168, 168, 168);
}

.bio {
    display: flex;
    padding: 0 10vh;
    flex-wrap: wrap;
}

.contenu {
    display: flex;
    margin-top: 8vh;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 15vh;
    align-items: center;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description p {
    margin: 0 0 2rem 0;
    max-width: 50vh;
    min-width: 40vh;
}

.bouton1 {
    width: 300px;
    margin-top: 1rem;
    padding: 2vh 6vh;
    background-color: rgba(122, 1, 1, 1);
    border-radius: 10px;
    border: transparent;
    font-size: 19px;
    transition: 0.3s;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.bouton1:hover {
    background-color: rgba(189, 22, 34, 1);
    cursor: pointer;

}

.hobbies {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 7vh 0vh;
    color: #141414;
    width: 100%;
    z-index: -1;
    background-color: rgb(240, 240, 240);
    box-shadow: 4px 0px 4px 8px rgba(122, 1, 1, 1);
}

.hobbies h2 {
    text-align: center;
}

.sport-jeu {
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 5rem;
    padding: 0 15rem;
}

.sport-jeu h3 {
    text-align: center;
    margin-right: 5vh;
}


.sports {
    width: 50vh;
}

.jeux {
    width: 50vh;
}

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio h2 {
    text-align: center;
    margin-bottom: 2vh; 
    padding-top: 6vh;
}


.projets {
    margin-top: 3vh;
    margin-bottom: 3vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.foxsearch {
    border-radius: 10px;
    padding: 2vh 5vh;
    display: block;
    position: relative;
}

.texte-centrer {
    opacity: 0;
    width: 35vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    transition: 0.3s;
    z-index: 1;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.foxsearch img {
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.foxsearch:hover img {
    transform: scale(1.05);
    filter: blur(4px);
}

.foxsearch:hover .texte-centrer {
    opacity: 1;
    transition: 0.3s;
    transform: translate(-50%, -60%);
}

.black {
    color: rgb(20, 20, 20);
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px;
    resize: none;
}
  
input[type=submit] {
    background-color: rgba(122, 1, 1, 1);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

#country {
    font-family: 'Montserrat', sans-serif;

}
  
input[type=submit]:hover {
    background-color: rgb(172, 5, 5);
}
  
 
.container {
    padding: 5vh 1vh;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;

}

.formulaire {
    color: #141414;
    width: 100%;
    z-index: -1;
    right: 0;
    left: 0;
    background-color: rgb(240, 240, 240);
    box-shadow: 4px 0px 4px 8px rgba(122, 1, 1, 1);
    margin-bottom: 5rem;
}

.formulaire h2 {
    text-align: center;
    padding-top: 3vh;
}

::placeholder {
    font-family: 'Montserrat', sans-serif;
}

.cache {
    display: none;
}

.rouge {
    color: red;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}


/*** CV ***/

.contour {
    margin: 4rem;
    width: 60vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.contour img {
    width: 60vw;
    height: auto;
    z-index: -1;
}



/*
*** RESPONSIVE
*/

@media only screen and (max-width: 1024px) {
    body {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    p {
        font-size: 16px;
    }
    
    .navbar {
        top: auto;
        bottom: 0;
        width: 100%;
        position: fixed;
        z-index: 2;
    }

    .navbar:hover {
        width: 100%;
    }

    .navbar-menu {
        flex-direction: row;
    }


    .navbar:hover .navbar-title {
        display: none;
    }

    .navbar-icon {
        min-width: auto;
        margin: 0;
    }
    
    .logo {
        margin: 0;
    }

    .navbar-link {
        justify-content: center;
    }

    .description p {
        text-align: center;
        margin-top: 2rem;
    }

    .sport-jeu {
        margin-left: 7%;
        margin-right: 7%;
        padding: 0;
        text-align: center;
    }
    .sport-jeu h3 {
        margin: 0;
    }

    .navbar-icon {
        margin: 0
    }
    .foxsearch img {
        width: 90%;
        height: auto;
        margin-left: auto;
        padding: 0;
    }
    .foxsearch {
        margin: 0;
        padding: 1rem 0;
    }
    .portfolio {
        text-align: center;
        padding-bottom: 5vh;
    }
    
    .texte-centrer {
        transform: translate(-50%, -40%);
    }
    .container {
        max-width: 90%;
    }

    .portfolio h2 {
        margin: 0;
    }

    .hobbies h2 {
        margin-bottom: 2rem;
    }

    .hobbies {
        padding: 4vh 0 ;
    }
    
    .presentation {
        padding: 2rem 10%;
    }

    .bio {
        margin-top: 5rem;
        padding: 0;
    }

    .contenu {
        margin-top: 0;
    }

}
